* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  /* align-content: center; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  margin: auto;
  /* background-color: lightgrey; */
}

.box1 {
  width: 75%;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 1.05rem;
  font-weight: bolder;
  border-radius: 4px 4px 0 0;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1.6;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3)
    /* overflow: hidden; */
    /* height: 10%; */
    /* min-width: 200px; */
    /* justify-content: flex-start; */
    /* background-color: yellowgreen; */
}

#clip {
  background: url(https://media2.giphy.com/media/sULKEgDMX8LcI/giphy.gif?cid=ecf05e474f50328e0a2a533a3a74eda4fe0d07a4231e7f16&rid=giphy.gif) repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: .9;
}

.box2 {
  height: 90%;
  min-width: 200px;
  font-size: 2.5rem;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 4px;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to right top, #0089ba, #00aac9, #00c7b1, #00de77, #a8eb12);
  line-height: 1.6;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3)
    /* background-color: lightblue; */
    /* width: 100%; */
}

.text-focus-in {
  -webkit-animation: text-focus-in 1.5s cubic-bezier(.55, .085, .68, .53) both;
  animation: text-focus-in 1.5s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}
